body{
    height: 1000px;
    background-color: #F6F6F6;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
.Zhihu_top {
    min-width: 200px;
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    background-color: #ffffff;
    z-index: 999;
    position:fixed;
}

.Zhihu_font {

    font-size: 32px;

    font-family: 黑体, serif;
    color: #0084FF;

    line-height: 50px;
    position: fixed;
}
.top_ul {
    list-style: none;
    white-space: nowrap;
    width: auto;
    margin: 0;
    padding-left: 140px;
}
/*导航栏*/
.top_nav {
    width: 1000px;
    height: 100%;
    margin-left: 300px;
    z-index: 999;
}
.top_ul li {
    float: left;
    display: inline;
    /*display: inline-block;*/
    width: 70px;
    font-size: 18px;
    height: 100%;

}

.top_ul li a {
    line-height: 50px;
}

.top_Search {
    width: 280px;
    height: 30px;
    background-color: #F6F6F6;
    border: 0;
    box-shadow: 1px 1px 2px 1px #EBEBEB;
    margin-top: 10px;
    padding-left: 10px;
}
.ask_question {
    width: 100%;
    height: 80px;
    outline: none;
    text-align: left;
    padding-bottom: 60px;
    padding-left: 50px;
    margin-top: 10px;
}

.question_Btn {

    width: 70px;
    height: 35px;
    border: 0;
    background: #0084FF;
    margin-left: 20px;
    border-radius: 5px;
    outline: none;
    color: #fff;
}

.question_content {
    background-color: #ffffff;
    height:200px;
    width:100%;
    box-shadow: 1px 1px 2px 1px #EBEBEB;
    position: relative;
    top:50px;
}
/*问题*/
.question_title{
    width: 720px;
    height: 140px;
    margin-left: 300px;
    line-height: 130px;
    font-size: 1.5em;
    font-weight: bold;
}
/*问题里的页脚*/
.question_footer{
    height:55px;
    width: 720px;
    margin-left:300px;
}
/*所有答案div*/
.answer_main{
    position: relative;
    left:310px;
    top:50px;
}
/*答案*/
.answer_content{
    background: white;
    box-shadow:0 1px 3px rgba(26, 26, 26, .1) ;
    height: 300px;
    width: 730px;
    margin-top: 10px;
}
/*回答用户*/
.answer_user{
    border:1px solid red;
    width: 100%;
}
/*关注按钮*/
.follow_btn{
    width: 80px;
    height: 40px;
    border: 0;
    background: #0084FF;
    border-radius: 3px;
    outline: none;
    color: #fff;
    margin-left: 10px;
}
/*已关注按钮*/
.follow{
    width: 80px;
    height: 40px;
    border: 0;
    background: #6f6f6f;
    border-radius: 3px;
    outline: none;
    color: #fff;
    margin-left: 10px;
}
/*不显示*/
.noDisplay{
    display: none;
}
/*写回答*/
.write_btn{
    width: 80px;
    height: 40px;
    border-color: #0084FF;
    border-width: thin;
    border-radius: 3px;
    outline: none;
    background-color: white;
    color: #0084FF;
    margin-left: 10px;
}
/*弹出回答表框*/
/*.comment{*/
    /*border:1px solid #cccccc;*/
    /*width: 200px;*/
    /*height:100px;*/
/*}*/
.comment{
    display: none;
    width: 730px;
    background: white;
    margin-top: 30px;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    position:relative;
    left:310px;
    top:30px;
}
/*提交按钮*/
.comment_Btn{
    background: #086CD1;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    width: 65px;
    height:40px;
    margin-left: 665px;
}
/*用户图片*/
#user_image {
    height:45px;
    width:45px;
    border-radius:5px;
}