body {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/*话题展示*/
.topic_content{
    float:left;
    text-align: center;
    color: #086CD1;
    border:1px solid  #086CD1;
    height:30px;
    min-width: 100px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 30px;

    /*缓慢变颜色*/
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(1,2,3,100);
}
.topic_content:hover{
    background: #074081;
}

/*内容*/
.content{
    width: 800px;
    float:left;
    position:relative;
    left: 200px ;
    top:100px;
    z-index: 1;
}
.question_top {
    min-width: 1200px;
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 2px rgba(0,0,0,.25), inset 0 1px 0 rgba(255,255,255,.15);
    border-bottom: 1px solid #044e97;
    background-color:#055db5;
    color: white;
    position:fixed;
    z-index: 4;
}
.top_nav {
    width: 1000px;
    height: 100%;
    margin-left: 200px;
}
.Zhihu_font {
    font-size: 32px;
    font-family: 黑体, serif;
    color: #ffffff;
    line-height: 50px;
    position: fixed;
}
.top_ul {
    list-style: none;
    white-space: nowrap;
    width: auto;
    margin: 0;
    position:relative;
    left:50px;
}

.top_ul li {
    float: left;
    display: inline;
    /*display: inline-block;*/
    width: 70px;
    font-size: 18px;
    height: 100%;

}
.top_Search {
    float: left;
    width: 280px;
    height: 30px;
    background-color: #F6F6F6;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 140px;
    padding-left: 10px;
}
.top_ul li a {
    line-height: 50px;
}
.question_Btn {
    width: 70px;
    height: 35px;
    border: 0;
    background: #0E77E4;
    border-radius: 5px;
    outline: none;
    color: #ffffff;
    margin-left: 200px;
    margin-top: 8px;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(1,2,3,100);
}
.question_Btn:focus{
    border:1px solid #044e97;
}
.question_Btn:visited{
    border:1px solid #0E77E4;

}
