<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--<property name="connection.url">jdbc:mysql://localhost:3306/zhihu</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        &lt;!&ndash;<property name="current_session_context_class">thread</property>&ndash;&gt;
        <property name="connection.username">root</property>
        <property name="connection.password">xdf1946</property>-->
        <mapping class="com.bigjava.bean.Log"/>
        <mapping resource="com/bigjava/bean/Log.hbm.xml"/>

        <mapping class="com.bigjava.bean.User"/>
        <mapping resource="com/bigjava/bean/User.hbm.xml"/>

        <mapping class="com.bigjava.bean.Question"/>
        <mapping resource="com/bigjava/bean/Question.hbm.xml"/>

        <mapping class="com.bigjava.bean.Answer"/>
        <mapping resource="com/bigjava/bean/Answer.hbm.xml"/>

        <mapping class="com.bigjava.bean.Topic"/>
        <mapping resource="com/bigjava/bean/Topic.hbm.xml"/>

        <mapping class="com.bigjava.bean.Follow"/>
        <mapping resource="com/bigjava/bean/Follow.hbm.xml"/>

        <mapping class="com.bigjava.bean.QuestionAndAnswer"/>
        <mapping resource="com/bigjava/bean/QuestionAndAnswer.hbm.xml"/>

        <mapping class="com.bigjava.bean.Comment"/>
        <mapping resource="com/bigjava/bean/Comment.hbm.xml"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>